<launch>

	<machine name="master" address="localhost" user="ubuntu" default="true"/>
	
	<param name="max_joint_speed" value="500"/>
	<param name="cmd_send_rate" value="2"/>
	
	<node name="commandInterpreter" pkg="arm" type="cmdinterpreter.py" output="screen"/>
	<node name="robotController" pkg="arm" type="robotcontroller.py"/>
	<node name="pendantController" pkg="arm" type="pendantcontroller.py"/>

</launch>
